.meal-planner-input {
  width: 550px;
  margin: 4rem auto;
  padding: 2rem 0;
  border-top: 2px solid black;
}

.input-container {
  width:100%;
  position: relative;
  text-align: left;
  padding: 0.75rem 0;
}

.form-span {
    margin-right: 1.5rem;
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.dropdown-select, .form-input-text, .form-input-warning {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 2px solid black;
  transition: 0.25s all ease-in;
  font-size: 1rem;
  padding: 0.5rem;
  margin-top: 10px;
  font-family: 'Nanum Gothic', sans-serif;

  &:focus {
    outline: none;
    border: 2px solid pink;
  }
}

  .form-input-warning {
    &:focus {
      border: 2px solid #a70505;
    }
  }

  .form-input-info, .form-input-info-warning {
    font-size: 0.75rem;
    margin-top: 0.25rem;
    display: block;
    text-align: left;
    trnasition: 0.3s all ease-in;
  }

  .form-input-info-warning {
    color: #a70505;
  }


.submit-btn {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  color: white;
  border: 2px solid black;
  background-color: black;
  padding: 0.5rem 3rem;
  float: right;
  margin-top: 0.75rem;
  transition: 0.25s all ease-in;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 1rem;
  cursor: pointer;

  &:focus, &:hover {
    outline: none;
    background-color: white;
    color: black;
  }

  &:focus {
    border: 2px solid pink;
  }

  &:disabled, &[disabled] {
    background-color: rgb(125,125,125);
    color: black;
    border: 2px solid rgb(125,125,125);
    cursor: default;
  }

}


.display-none {
  display: none;
}

@media screen and (max-width: 769px) {
  .meal-planner-input {
    margin-top: 1em;
  }
}
